* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #221f1f;
    /* background-image: url('img/netlfix-backgorund.jpg');
    filter: opacity(0.6);
    background-repeat: no-repeat;
    background-size: cover; */
}


.cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    background: #221f1f;
    z-index: 5;
}

.logo img{
    height: 60px;
    margin-left: 15px;
}

.input-group {
    width: 60%;
    align-content: center;
    margin-right: 15px;
}

.mb-3 {
    margin-bottom: 0 !important;
}

#wrapper {
    height: 100vh;
    background-image: url('img/netflix-backgorund.jpg');
    background-size: cover;
    overflow-y: auto;
}

.wrap {
    padding: 150px 50px 50px;
}

.titolo-ricerca {
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    display: none;
}

.titolo-ricerca.visible {
    display: block;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 285px;
    height: 500px;
    margin: 20px 10px;
    background-color: #221f1f!important;
}

.poster {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    /* width: 250px; */
}

.poster:hover {
    transition: all ease 0.7s;
    opacity: 0;
}

.overview {
    max-height: 220px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

h6, p {
    font-style: italic;
}

h5 span {
    font-weight: 700;
}


@media all and (min-width: 1040px) {
    .input-group {
        width: 30%;
    }
};
