* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #221f1f;
}

.cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    background: #221f1f;
    z-index: 5;
}

.logo img{
    height: 60px;
    margin-left: 15px;
}

.input-group {
    align-content: center;
    margin-right: 15px;
    transition: all 0.8s ease;
}

.input-group-append {
    position: absolute;
    bottom: -32px;
    right: 0;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-outline-secondary {
    width: 70px;
    height: 70px;
    background: #e50914;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    color: #fff;
    transition: all 0.8s ease;
}

.btn-outline-secondary.animate {
    transform: rotate(-360deg);
    z-index: 3
    /* right: 100px; */
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #85203b;
    border-color: #85203b;
}

.btn:focus, .btn-outline-secondary:focus {
    box-shadow: none;
}

#message {
    height: 53px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    border-radius: 50px;
    background-color: #221f1f;
    color: #f5f5f1;
    border: 3px solid #85203b;
    transition: all 0.8s ease;
    position: absolute;
    top: -29px;
    right: 15px;
}

.form-control.active {
    width: 350px;
    right: 100px;
    /* right: 100px; */
}

.mb-3 {
    margin-bottom: 0 !important;
}

#wrapper {
    height: 100vh;
    background-image: url('img/netflix-backgorund.jpg');
    background-size: cover;
    overflow-y: auto;
}

.wrap {
    padding: 150px 50px 50px;
}

.titolo-ricerca {
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    display: none;
}

.titolo-ricerca.visible {
    display: block;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 285px;
    height: 500px;
    margin: 20px 10px;
    background-color: #221f1f!important;
    transition: all ease 0.7s;
}

.two, p {
    font-size: 14px;
}

.poster {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    /* width: 250px; */
    transition: all ease 0.7s;
    border-radius: .25rem;
}

.poster:hover {
    opacity: 0.1;
}

.card:hover {
    transform: scale(1.05);
}

.overview {
    max-height: 150px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.fade-down {
    background: -webkit-linear-gradient( #ffffff, #ededed, #221f1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

h6, p {
    font-style: italic;
}

h5 span {
    font-weight: 700;
}

@media all and (max-width: 320px) {
    .overview {
        max-height: 110px;
    }
};

@media all and (min-width: 1040px) {
    .input-group {
        width: 30%;
    }
};
